<mat-dialog-content>
  <h1 mat-dialog-title> {{ workspace.name }}</h1>
  <p class="info">{{ workspace.info }}</p>

  <mat-nav-list>
    <a mat-list-item href="queues"><mat-icon color="primary">people</mat-icon> Tutoring</a>
    <a mat-list-item href="queues"><mat-icon color="primary">people</mat-icon> Examination</a>
    <a mat-list-item href="signups"><mat-icon color="primary">groups</mat-icon> Project Groups</a>
  </mat-nav-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
