<div class="container workspace-list">
  <h1 *ngIf="!connection">No connection with server.</h1>
  <h1 *ngIf="connection && workspaces.length == 0">You are not a member of any Workspaces.</h1>
  <mat-card *ngFor="let workspace of workspaces">
    <mat-card-header>
      <mat-card-title>{{ workspace.name }}</mat-card-title>
    </mat-card-header>
    <img *ngIf='workspace.img' mat-card-image src="{{ workspace.img }}" alt="Workspace image"/>
    <mat-card-content>
      <p id="workspace-desc">{{ workspace.info }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="queues">Waiting list</a>
      <a mat-raised-button color="primary" href="signups">Seminar</a>
    </mat-card-actions>
  </mat-card>
</div>
<button class="mat-fab-bottom-right" mat-raised-button color="accent" (click)="onAddWorkspace()">
  <mat-icon class="icon">add</mat-icon>Add Workspace
</button>

