<div class="component-header">
  <h1>Workspaces</h1>
</div>

<div class="container">
  <mat-card *ngFor="let workspace of workspaces">
    <mat-card-header>
      <mat-card-title>{{ workspace.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{ workspace.img }}" alt="Workspace image"/>
      <p id="workspace-desc">{{ workspace.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a href="queues">Waiting list</a>
      <a href="signups">Seminar</a>
    </mat-card-actions>
  </mat-card>


</div>

