.workspace-list {
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

mat-card {
  width: 20em;
  height: auto;
  margin: 0 2em 2em 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

mat-card-title {
  color: var(--tosca-primary-color);
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

mat-card img {
  object-fit: cover;
  height: 10rem;
}

mat-card-content {
  color: var(--tosca-text-color);
  flex-grow: 1;
  margin-bottom: 0;
}

mat-card-actions {
  margin-left:0;
  margin-bottom: 0;
  cursor: auto;
}

.mat-list-base .mat-list-item {
  padding-top: 0;
  font-size: 1rem;
  height: 2rem;
}

.mat-fab-bottom-right {
  top: auto !important;
  right: 2rem !important;
  bottom: 4rem !important;
  left: auto !important;
  position: fixed !important;
  border-radius: 1000px;
}

.mat-fab-bottom-right mat-icon {
  margin-left: -1rem;
  line-height: inherit;
  vertical-align: text-bottom;
}

.workspace-desc {
  white-space: pre-wrap;
  max-height: 12rem;
  overflow: auto;
}
