.workspace-list {
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

mat-card {
  width: 20em;
  height: auto;
  margin: 0 2em 2em 0;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  color: var(--tosca-primary-color);
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

mat-icon {
  color: var(--tosca-primary-text);
  width: 1.5em;
  height: 1.5em;
}

mat-card-content {
  color: var(--tosca-text-color);
  flex-grow: 1;
}

mat-card-actions {
  margin-left:0;
  margin-bottom: 0;
}
.mat-fab-bottom-right {
  top: auto !important;
  right: 1rem !important;
  bottom: 1rem !important;
  left: auto !important;
  position: fixed !important;
  border-radius: 1000px;
}

.mat-fab-bottom-right mat-icon {
  margin-left: -1rem;
  line-height: inherit;
}

.workspace-desc {
    white-space: pre-wrap;
}
