#header {
  display: flex;
  align-items: flex-start;
  background-color: var(--tosca-primary-color);
  min-height: 4rem;
}

#title {
  margin: auto 0 auto 1.2rem;
  font-size: 52px;
  padding: 10px;
}

img {
  margin: auto auto auto 0.5rem;
}

#user-name {
  margin: auto 1.2rem auto auto;
  color: var(--tosca-primary-text);
}

#header a {
  display: flex;
  text-decoration: none;
  color: var(--tosca-primary-text);
  margin-top: auto;
}
