#header {
  display: flex;
  align-items: flex-start;
  background-color: var(--tosca-primary-color);
  min-height: 60px;
}

#title {
  margin: 10px 5px 5px 20px;
  font-size: 52px;
}

img {
  margin: 10px 5px 5px 10px;
}

#user-name {
  margin: 10px 20px 5px auto;
}

a {
  text-decoration: none;
  color: inherit;
}
