html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  height: 100%;
  margin: 2% 10% 2% 10%;
}

.container-header {
  background-color: var(--tosca-primary-color);
  color: var(--tosca-primary-text);
  padding: 0 0.7rem 0 0.7rem;
  font-weight: bold;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

:root {
  --tosca-primary-color: #aa3e57;
  --tosca-accent-color: #104f55;
  --tosca-warn-color: #df6630;

  --tosca-primary-text: #ffffff;
  --tosca-accent-text: #ffffff;
  --tosca-warn-text: #000000;

  --tosca-bg-color: #ffffff;
  --tosca-text-color: #676767;

  --tosca-text-box-color: #f5e8eb;
}
