html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --tosca-primary-color: #aa3e57;
  --tosca-accent-color: #104f55;
  --tosca-warn-color: #df6630;

  --tosca-primary-text: #ffffff;
  --tosca-accent-text: #ffffff;
  --tosca-warn-text: #000000;

  --tosca-bg-color: #ffffff;
  --tosca-text-color: #676767;

  --tosca-text-box-color: #f5e8eb;
}
