html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--tosca-bg-color);
}

.container {
  height: 100%;
  margin: 2% 10% 2% 10%;
}

a {
  word-break: break-word;
}

:root {
  --tosca-primary-color: #104f55;
  --tosca-accent-color: #903c5c;
  --tosca-warn-color: #df6630;

  --tosca-primary-text: #ffffff;
  --tosca-accent-text: #ffffff;
  --tosca-warn-text: #000000;

  --tosca-bg-color: #f9f9f9;
  --tosca-text-color: #676767;

  --tosca-text-box-color: #e3ebe2;
}
