<div class="queue-item">
  <div class="user-info">
    <h3>
      {{ index + 1 }} {{ name }} - {{ username }}
      <span *ngIf="adminView">
        <button mat-icon-button><mat-icon color="primary">chat_bubble_outline</mat-icon></button>
      </span>
    </h3>
    <p *ngIf="adminView">{{ message }}</p>
    <a *ngIf="adminView && link" href="{{ link }}">{{ link }}</a>
  </div>

  <div *ngIf="adminView">
    <button mat-raised-button
            id="claimed-button"
            color="{{ claimed ? 'warn' : 'primary' }}"
            (click)="claim()"
            title="{{ claimedBy }}"
    >{{ claimed ? 'Unclaim' : 'Claim' }}</button>
  </div>
</div>

<mat-divider [inset]="true" *ngIf="!last && adminView"></mat-divider>
